@use "./../../style/_config.sass" as *;
.customHelperText {
  display: flex;
  width: 100%;
//   @include flex-center;
  .text {
    flex-grow: 1;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }
  .icon {
    @include flex-center;
  }
}
