//black
$color-black: #000;
$color-light-black: #00000078;
$color-mid-black: #750026;

//color red
$color-red: red;

//color red
$color-light-blue: #0066ff;

//white color

$antique-white: #ebe2d6;
$white: #fff;
$transparent-white: #ffffffa3;

//green color

$success-green: #0c961f;
